<html>
    <head>
    </head>
    <body>
    <form method='post' action='/'>
        <input type='text' name='name' placeholder='Name'/>
        <input type='text' name='email' placeholder='Email'/>
        <input type='text' name='dob' placeholder='Year of Birth'/>
        <select name='position'>
            <option value='technical manager'>technical manager</option>
            <option value='developer'>developer</option>
            <option value='UI designer'>UI designer</option>
            <option value='graphic designer'>tgraphic designer</option>
        <input type='password' name='password' placeholder='Password'/>

        <button type='submit'>Submit</button>
     </form>   
    
    </body>
</html>